<!DOCTYPE html>
<html>
<head>
	<title>Статья о Платоне - Название статьи</title>
	<link rel="stylesheet" type="text/css" href="../../resources/styles/main.css">
</head>
<body>
  <header>
    <h1>Философ Платон</h1>
    <div class="nav">
      <ul class="navul">
        <li><a href="../../index.html"><div class="navdiv">Главная</div></a></li>
        <li><a href="../articles/article_50.html"><div class="navdiv">Биография</div></a></li>
        <li><a href="../articles/article_2.html"><div class="navdiv">Философия</div></a></li>
        <li>
			<a href="#" id="toggleButton">
			  <div class="navdiv">Цитаты</div>
			</a>
			<ul id="dropdownmenu" style="display: none;">
				<li><a href="#" class="navdiv quoteMenu">О человеке</a></li>
				<li><a href="./quotes_2.html" class="navdiv quoteMenu">О государстве</a></li>
				<li><a href="./quotes_3.html" class="navdiv quoteMenu">Об образовании</a></li>
			</ul>
		  </li>
      </ul>
    </div>
  </header>
	<main>
		<article>
			<header style="margin-top: 18vh;">
				<h1>Цитаты о человеке:</h1>
			</header>
			<section>
				<big><big>
				<ul>
					<li>„Никто не становится хорошим человеком случайно.“</li>
					<li>„Какой-то страшный, дикий и беззаконный вид желаний таится внутри каждого человека, даже в тех из нас, что кажутся вполне умеренными; это-то и обнаруживается в сновидениях.“</li>
					<li>„Ничто не является более тягостным для мудрого человека и ничто не доставляет ему большего беспокойства, чем необходимость тратить на пустяки и бесполезные вещи больше времени, чем они того заслуживают.“</li>
				</ul></big></big>
			</section>
			<footer style="min-height: 5vh ;">
			</footer>
		</article>
	</main>
	<footer>
		<p>Copyright &copy; 2023</p>
	</footer>
	<script type="module" src="../../JS/scripts/loadQuotesMenu.js"></script>
</body>
</html>