<!DOCTYPE html>
<html>
<head>
	<title>Статья о Платоне - Название статьи</title>
	<link rel="stylesheet" type="text/css" href="../../resources/styles/main.css">
</head>
<body>
  <header>
    <h1>Философ Платон</h1>
    <div class="nav">
      <ul class="navul">
        <li><a href="../../index.html"><div class="navdiv">Главная</div></a></li>
        <li><a href="../articles/article_50.html"><div class="navdiv">Биография</div></a></li>
        <li><a href="../articles/article_2.html"><div class="navdiv">Философия</div></a></li>
        <li>
			<a href="#" id="toggleButton">
			  <div class="navdiv">Цитаты</div>
			</a>
			<ul id="dropdownmenu" style="display: none;">
				<li><a href="./quotes_1.html" class="navdiv quoteMenu">О человеке</a></li>
				<li><a href="#" class="navdiv quoteMenu">О государстве</a></li>
				<li><a href="./quotes_3.html" class="navdiv quoteMenu">Об образовании</a></li>
			</ul>
		  </li>
      </ul>
    </div>
  </header>
	<main>
		<article>
			<header style="margin-top: 18vh;">
				<h1>Цитаты о государстве:</h1>
			</header>
			<section>
				<big><big>
				<ul>
					<li>„Лишь в совершенном государстве граждане могут быть совершенными.“</li>
					<li>„Относительно всякого брака пусть соблюдается одно предписание: каждый человек должен заключать брак, полезный для государства, а не только наиболее приятный для самого себя.“</li>
					<li>„Во всех государствах справедливостью считается одно и то же, а именно то, что пригодно существующей власти.“</li>
					<li>„Музыкальные инновации полны опасностей для государства, потому что, когда меняются способы музыки, основные законы государства всегда меняются вместе с ними.“</li>
				</ul></big></big>
			</section>
			<footer style="min-height: 5vh ;">
			</footer>
		</article>
	</main>
	<footer>
		<p>Copyright &copy; 2023</p>
	</footer>
	<script type="module" src="../../JS/scripts/loadQuotesMenu.js"></script>
</body>
</html>