<!DOCTYPE html>
<html>
<head>
	<title>Статья о Платоне - Название статьи</title>
	<link rel="stylesheet" type="text/css" href="../../resources/styles/main.css">
</head>
<body>
  <header>
    <h1>Философ Платон</h1>
    <div class="nav">
      <ul class="navul">
        <li><a href="../../index.html"><div class="navdiv">Главная</div></a></li>
        <li><a href="./article_50.html"><div class="navdiv">Биография</div></a></li>
        <li><a href="./article_2.html"><div class="navdiv">Философия</div></a></li>
        <li>
			<a href="#" id="toggleButton">
			  <div class="navdiv">Цитаты</div>
			</a>
			<ul id="dropdownmenu" style="display: none;">
				<li><a href="../quotes/quotes_1.html" class="navdiv quoteMenu">О человеке</a></li>
				<li><a href="../quotes/quotes_2.html" class="navdiv quoteMenu">О государстве</a></li>
				<li><a href="../quotes/quotes_3.html" class="navdiv quoteMenu">Об образовании</a></li>
			</ul>
		  </li>
      </ul>
    </div>
  </header>
	<main>
		<article>
			<header>
				<h1>Платон</h1>
				<p class="author">Автор: Интересные Факты</p>
				<p class="date">Дата публикации: 01.01.2023</p>
			</header>
			<section>
				<p>
					Платон – древнегреческий философ, ученик Сократа и учитель Аристотеля. Платон является первым
					философом, чьи труды сохранились не в кратких отрывках, цитируемых другими, а в полном объеме.
					В биографии Платона найдется немало интересных фактов, связанных с его личной жизнью и философскими
					взглядами. Итак, перед вами краткая биография Платона.
				</p>
			</section>
			<section>
				<p>Биография Платона</p>
				<p>Точная дата рождения Платона до сих пор остается неизвестной. Считается, что он появился
					на свет на рубеже 429 и 427 до н. э. в Афинах, а возможно и на острове Эгине.
					Между биографами Платона по-прежнему не утихают споры относительно имени философа. Согласно одному
					мнению, в действительности его звали Аристоклом, тогда как Платон – его прозвище.

				</p>
			</section>
			<section>
				<img src="../../resources/pics/uni1.jpg" alt="это работа Ильи" width="250" height="355" class="right">
				<p>Детство и юность</p>
				<p>Платон рос и воспитывался в аристократической семье. Согласно преданию отец философа, Аристон,
					происходил из рода Кодра – последнего правителя Аттики. Мать Платона,
					Периктиона, была потомком знаменитого афинского политика и поэта Солона.
					У родителей философа также родилась девочка Потона и 2 мальчика – Главкон и Адимант.
					Все четверо детей Аристона и Периктионы получали общее образование. Стоит отметить, что наставником
					Платона был досократик Кратил, последователь учений Гераклита Эфесского.
					В ходе своего обучения, Платон лучше всего усваивал литературу и изобразительное искусство. Позже,
					он серьезно увлекся борьбой и даже принимал участие в Олимпийских играх.
				</p>
			</section>
			<section>
				<p>Философия и взгляды</p>
				<p>Идеи Сократа разительно отличались от взглядов того времени. В его учениях основной акцент делался
					на познании природы человека. Платон внимательно слушал речи философа пытаясь, как можно глубже
					проникнуть в их суть. О своих впечатлениях он неоднократно упоминал в собственных произведениях.
					В 399 г. до н.э. Сократа приговорили к смертной казни, обвинив его в не почитании богов и
					пропаганде новой веры, которая развращала молодежь. Философу позволили произнести защитную речь,
					перед смертным приговором в виде испития яда.
					Идеи Сократа разительно отличались от взглядов того времени. В его учениях основной акцент делался
					на познании природы человека. Платон внимательно слушал речи философа пытаясь, как можно глубже
					проникнуть в их суть. О своих впечатлениях он неоднократно упоминал в собственных произведениях.
					В 399 г. до н.э. Сократа приговорили к смертной казни, обвинив его в не почитании богов и
					пропаганде новой веры, которая развращала молодежь. Философу позволили произнести защитную речь,
					перед смертным приговором в виде испития яда.
					Казнь наставника серьезно повлияла на Платона, который возненавидел демократию.
					В скором времени мыслитель отправился в путешествие по разным городам и странам. В данный период
					биографии он успел пообщаться со многими последователями Сократа, включая Эвклида и Феодора.
					Кроме этого Платон общался с мистиками и халдеями, которые побудили его увлечься восточной
					философией.
					После долгих путешествий, мужчина приехал в Сицилию. Он совместно с местным военачальником
					Дионисием Старшим, задался целью основать новое государство, в котором верховная власть должна
					была принадлежать философам.
					Однако планам Платона было не суждено сбыться. Дионисий оказался деспотом, возненавидевшим
					«государство» мыслителя.
					Возвратившись в родные Афины, Платон сделал некоторые поправки в отношении создания идеального
					государственного устройства.
					Результатом данных размышлений стало открытие Академии, в которой Платон начал обучать своих
					последователей. Таким образом было образовано новое религиозно-философское объединение.
					Платон давал знания ученикам посредством диалогов, которые по его мнению позволяли человеку лучше
					всего познать истину.
					Преподаватели и ученики Академии жили вместе. Интересен факт, что выходцем Академии был и
					знаменитый Аристотель.
				</p>
			</section>
			<section>
				<p>Идеи и открытия</p>
				<p>Философия Платона строится на теории Сократа, согласно которой истинное познание возможно только в
					отношении не субъективных понятий, которые составляют самостоятельный бестелесный мир,
					сосуществующий миру чувственному.
					Бытие – это абсолютные сущности, эйдосы (идеи), на которые не оказывают влияние пространство и
					время. Эйдосы автономны, а, следовательно, только их можно познать.
					В трудах Платона «Критий» и «Тимей» впервые встречается история Атлантиды, представляющей собой
					идеальное государство.
					С Платоном неоднократно вступал в жаркие споры Диоген Синопский, который являлся последователем
					школы киников. Впрочем, Диоген спорил и со многими другими мыслителями.
					Платон осуждал яркие проявления эмоций полагая, что они не приносят человеку ничего хорошего. В
					своих книгах он часто описывал отношения между сильным и слабым полом. Отсюда и происходит такое
					понятие, как – «платоническая любовь».
					Чтобы ученики своевременно приходили на занятия, Платон изобрел приспособление, на основе водяных
					часов, которое подавало сигнал в заданное время. Так был придуман первый будильник.
				</p>
			</section>
			<section>
				<p>Личная жизнь</p>
				<p>Платон пропагандировал отказ от частной собственности. Также, он проповедовал общность жен, мужей
					и детей. Вследствие этого, все женщины и дети становились общими. Поэтому нельзя выделить одну
					жену у Платона, как и нельзя точно определить его биологических детей.
				</p>
			</section>
			<section>
				<p>Смерть</p>
				<p>В последние дни жизни Платон трудился над новой книгой «О благе как таковом», которая так
					и осталась недописанной.
					Философ умер естественным образом, прожив долгую и насыщенную жизнь. Платон скончался в 348
					(или 347) году до н.э., прожив около 80 лет.
				</p>
			</section>
			<footer>
				<a href="https://interesnyefakty.org/platon/">Первоисточник</a>
			</footer>
		</article>
	</main>
	<footer>
		<p>Copyright &copy; 2023</p>
	</footer>
	<script type="module" src="../../JS/scripts/loadQuotesMenu.js"></script>
</body>
</html>